<ebay-listbox name="formFieldName">
    <ebay-listbox-option value="1" text="Option 1"/>
    <ebay-listbox-option value="2" text="Option 2"/>
    <ebay-listbox-option value="3" text="Option 3"/>
</ebay-listbox>
