class {}

<ebay-video
    width=460
    height=300
    cdn-url="Fake-url-to-fail"
    a11y-load-text="This video is loading now"
    a11y-play-text="Click to start this video"
    error-text="Oh man, something bad happened. Sorry!"
    on-load-error((err) => {
        console.log("handle error", err);
    })>
    <@source src="https://ir.ebaystatic.com/cr/v/c1/ebayui/video/v1/playlist.mpd"/>
</ebay-video>
