<ebay-filter-menu-button text="Radio menu" type="radio">
    <ebay-filter-menu-button-item value="item 1">item 1</ebay-filter-menu-button-item>
    <ebay-filter-menu-button-item value="item 2">item 2</ebay-filter-menu-button-item>
    <ebay-filter-menu-button-item value="item 3">item 3</ebay-filter-menu-button-item>
</ebay-filter-menu-button>
