<ebay-page-notice
    status="celebration"
    a11y-heading-text="celebration">
    <@title>Congrats</@title>
    <p>You can check <a href="#">your listing</a> or <a href="#">sell another item</a></p>
</ebay-page-notice>
