<ebay-button on-click('openSnackbar')>
    Open Default Snackbar
</ebay-button>
<ebay-snackbar-dialog open=state.open on-close('closeSnackbar')>
    This is the basic snackbar
</ebay-snackbar-dialog>

class {
    onCreate() {
        this.state = {open: false};
    }

    openSnackbar() {
        this.state.open = true;
    }

    closeSnackbar() {
        this.state.open = false;
    }
}