<h3>Specified heading tag</h3>
<% const tagExample = `<ebay-breadcrumb a11y-heading-text="Page navigation" a11y-heading-tag="h3">
    <ebay-breadcrumb-item href="http://www.ebay.com/">eBay</ebay-breadcrumb-item>
    <ebay-breadcrumb-item href="https://www.ebay.com/rpp/cell-phone-pda">Cell Phones, Smart Watches & Accessories</ebay-breadcrumb-item>
    <ebay-breadcrumb-item href="https://www.ebay.com/b/Smart-Watch-Accessories/182064/bn_16565905">Smart Watch Accessories</ebay-breadcrumb-item>
    <ebay-breadcrumb-item href="https://www.ebay.com/b/Smart-Watch-Bands/182068/bn_16565906">Smart Watch Bands</ebay-breadcrumb-item>
</ebay-breadcrumb>` %>

<pre>${tagExample}</pre>

<ebay-breadcrumb a11y-heading-text="Page navigation" a11y-heading-tag="h3">
    <ebay-breadcrumb-item href="http://www.ebay.com/">eBay</ebay-breadcrumb-item>
    <ebay-breadcrumb-item href="https://www.ebay.com/rpp/cell-phone-pda">Cell Phones, Smart Watches & Accessories</ebay-breadcrumb-item>
    <ebay-breadcrumb-item href="https://www.ebay.com/b/Smart-Watch-Accessories/182064/bn_16565905">Smart Watch Accessories</ebay-breadcrumb-item>
    <ebay-breadcrumb-item href="https://www.ebay.com/b/Smart-Watch-Bands/182068/bn_16565906">Smart Watch Bands</ebay-breadcrumb-item>
</ebay-breadcrumb>

<h3>Last page as current page</h3>
<% const lastPageExample = `<ebay-breadcrumb a11y-heading-text="Page navigation">
    <ebay-breadcrumb-item href="http://www.ebay.com/">eBay</ebay-breadcrumb-item>
    <ebay-breadcrumb-item href="https://www.ebay.com/rpp/cell-phone-pda">Cell Phones, Smart Watches & Accessories</ebay-breadcrumb-item>
    <ebay-breadcrumb-item href="https://www.ebay.com/b/Smart-Watch-Accessories/182064/bn_16565905">Smart Watch Accessories</ebay-breadcrumb-item>
    <ebay-breadcrumb-item href="https://www.ebay.com/b/Smart-Watch-Bands/182068/bn_16565906">Smart Watch Bands</ebay-breadcrumb-item>
</ebay-breadcrumb>` %>

<pre>${lastPageExample}</pre>

<ebay-breadcrumb a11y-heading-text="Page navigation">
    <ebay-breadcrumb-item href="http://www.ebay.com/">eBay</ebay-breadcrumb-item>
    <ebay-breadcrumb-item href="https://www.ebay.com/rpp/cell-phone-pda">Cell Phones, Smart Watches & Accessories</ebay-breadcrumb-item>
    <ebay-breadcrumb-item href="https://www.ebay.com/b/Smart-Watch-Accessories/182064/bn_16565905">Smart Watch Accessories</ebay-breadcrumb-item>
    <ebay-breadcrumb-item href="https://www.ebay.com/b/Smart-Watch-Bands/182068/bn_16565906">Smart Watch Bands</ebay-breadcrumb-item>
</ebay-breadcrumb>

<h3>Last page as parent</h3>
<% const lastParentExample = `<ebay-breadcrumb a11y-heading-text="Page navigation">
    <ebay-breadcrumb-item href="http://www.ebay.com/">eBay</ebay-breadcrumb-item>
    <ebay-breadcrumb-item href="https://www.ebay.com/rpp/cell-phone-pda">Cell Phones, Smart Watches & Accessories</ebay-breadcrumb-item>
    <ebay-breadcrumb-item href="https://www.ebay.com/b/Smart-Watch-Accessories/182064/bn_16565905">Smart Watch Accessories</ebay-breadcrumb-item>
    <ebay-breadcrumb-item>Smart Watch Bands</ebay-breadcrumb-item>
</ebay-breadcrumb>` %>

<pre>${lastParentExample}</pre>

<ebay-breadcrumb a11y-heading-text="Page navigation">
    <ebay-breadcrumb-item href="http://www.ebay.com/">eBay</ebay-breadcrumb-item>
    <ebay-breadcrumb-item href="https://www.ebay.com/rpp/cell-phone-pda">Cell Phones, Smart Watches & Accessories</ebay-breadcrumb-item>
    <ebay-breadcrumb-item href="https://www.ebay.com/b/Smart-Watch-Accessories/182064/bn_16565905">Smart Watch Accessories</ebay-breadcrumb-item>
    <ebay-breadcrumb-item>Smart Watch Bands</ebay-breadcrumb-item>
</ebay-breadcrumb>

<h3>Custom attribues</h3>
<% const attributesExampmle = `<ebay-breadcrumb a11y-heading-text="Page navigation">
    <ebay-breadcrumb-item href="http://www.ebay.com/" navsrc="{}" _sp="p2345.m909.l34">eBay</ebay-breadcrumb-item>
    <ebay-breadcrumb-item href="https://www.ebay.com/rpp/cell-phone-pda" navsrc="{}" _sp="p2345.m909.l34">Cell Phones, Smart Watches & Accessories</ebay-breadcrumb-item>
    <ebay-breadcrumb-item href="https://www.ebay.com/b/Smart-Watch-Accessories/182064/bn_16565905" navsrc="{}" _sp="p2345.m909.l34">Smart Watch Accessories</ebay-breadcrumb-item>
    <ebay-breadcrumb-item>Smart Watch Bands</ebay-breadcrumb-item>
</ebay-breadcrumb>` %>

<pre>${attributesExampmle}</pre>

<ebay-breadcrumb a11y-heading-text="Page navigation">
    <ebay-breadcrumb-item href="http://www.ebay.com/" navsrc="{}" _sp="p2345.m909.l34">eBay</ebay-breadcrumb-item>
    <ebay-breadcrumb-item href="https://www.ebay.com/rpp/cell-phone-pda" navsrc="{}" _sp="p2345.m909.l34">Cell Phones, Smart Watches & Accessories</ebay-breadcrumb-item>
    <ebay-breadcrumb-item href="https://www.ebay.com/b/Smart-Watch-Accessories/182064/bn_16565905" navsrc="{}" _sp="p2345.m909.l34">Smart Watch Accessories</ebay-breadcrumb-item>
    <ebay-breadcrumb-item>Smart Watch Bands</ebay-breadcrumb-item>
</ebay-breadcrumb>

<h3>Hijax</h3>
<% const hijaxExample = `<ebay-breadcrumb hijax class="breadcrumb--hijax">
    <ebay-breadcrumb-item href="http://www.ebay.com/">eBay</ebay-breadcrumb-item>
    <ebay-breadcrumb-item href="https://www.ebay.com/rpp/cell-phone-pda">Cell Phones, Smart Watches & Accessories</ebay-breadcrumb-item>
    <ebay-breadcrumb-item href="https://www.ebay.com/b/Smart-Watch-Accessories/182064/bn_16565905">Smart Watch Accessories</ebay-breadcrumb-item>
    <ebay-breadcrumb-item>Smart Watch Bands</ebay-breadcrumb-item>
</ebay-breadcrumb>` %>

<pre>${hijaxExample}</pre>

<ebay-breadcrumb hijax class="breadcrumb--hijax">
    <ebay-breadcrumb-item href="http://www.ebay.com/">eBay</ebay-breadcrumb-item>
    <ebay-breadcrumb-item href="https://www.ebay.com/rpp/cell-phone-pda">Cell Phones, Smart Watches & Accessories</ebay-breadcrumb-item>
    <ebay-breadcrumb-item href="https://www.ebay.com/b/Smart-Watch-Accessories/182064/bn_16565905">Smart Watch Accessories</ebay-breadcrumb-item>
    <ebay-breadcrumb-item>Smart Watch Bands</ebay-breadcrumb-item>
</ebay-breadcrumb>
