import { processHtmlAttributes } from "../../common/html-attributes"

$ const {
    class: inputClass,
    series,
    title,
    description,
    xAxisLabelFormat,
    yAxisLabels,
    xAxisPositioner,
    yAxisPositioner,
    renderTooltipOutside,
    trend,
    ...htmlInput
} = input;

<div
    ...processHtmlAttributes(htmlInput)
    class=[
        inputClass,
        'ebay-line-chart'
    ]>
    <div.ebay-line-chart__container id=component.getContainerId()/>
</div>
