<ebay-menu-button text="eBay Menu">
    <@item badge-number=1>item 1 that has very long text</@item>
    <@item badge-number=99>item 2</@item>
    <@item badge-number=10>item 3</@item>
</ebay-menu-button>
