<ebay-menu-button
    text='eBay Menu'
    on-collapse('emit', 'collapse')
    on-expand('emit', 'expand')
    on-change('emit', 'change')
    on-select('emit', 'select')
    ...input
>
    <@item badgeNumber=1>item 1 that has very long text</@item>
    <@item badgeNumber=99>item 2</@item>
    <@item badgeNumber=10>item 3</@item>
</ebay-menu-button>
