<ebay-menu-button
    text='eBay Menu'
    on-collapse('emit', 'collapse')
    on-expand('emit', 'expand')
    on-change('emit', 'change')
    on-select('emit', 'select')
    ...input
>
    <@item badgeNumber=1 aria-label="1 item unread">item 1 that has very long text</@item>
    <@item badgeNumber=99 aria-label="99 items unread">item 2</@item>
    <@item badgeNumber=10 aria-label="10 item unread">item 3</@item>
</ebay-menu-button>
