export interface Input {
    renderBody: Marko.Body;
}

<ebay-menu-button
    on-collapse('emit', 'collapse')
    on-expand('emit', 'expand')
    on-change('emit', 'change')
    on-select('emit', 'select')
    ...input
>
    <${input.renderBody}/>
</ebay-menu-button>
