<ebay-menu-button
    text='eBay Menu separator'
    on-collapse('emit', 'collapse')
    on-expand('emit', 'expand')
    on-change('emit', 'change')
    on-select('emit', 'select')
    ...input
>
    <@item>item 1</@item>
    <@item>item 2</@item>
    <@item separator/>
    <@item>item 3</@item>
    <@item>item 4</@item>
    <@item separator/>
    <@item>item 5</@item>
    <@item>item 6</@item>
</ebay-menu-button>
