<style>.icon-demo3-blue { color: blue; }</style>
<ebay-icon type="inline" name="clear"/>
<ebay-icon type="inline" name="clear" class="icon-demo3-blue"/>
<ebay-icon type="inline" name="clear" style="color:red"/>
