class {}

<span class="field">
    <label class="field__label field__label--start field__label--disabled" for="textbox">
        Email address
    </label>
    <ebay-textbox ...input disabled id="textbox" value="test"/>
</span>
