
<ebay-video
    width="1280"
    height="720"
    src="http://videoservices.vip.qa.ebay.com/videos/v1/d9bece211760a4e125556545ffffffc4/playlist.mpd"/>
<ebay-video
    width="854"
    height="480"
    src="http://videoservices.vip.qa.ebay.com/videos/v1/d9bece211760a4e125556545ffffffc4/playlist.mpd"/>
<ebay-video
    width="426"
    height="240"
    src="http://videoservices.vip.qa.ebay.com/videos/v1/d9bece211760a4e125556545ffffffc4/playlist.mpd"/>