import { processHtmlAttributes } from "../../../../common/html-attributes";
static var ignoredAttributes = ["as", "class"];

<${input.as || 'div'}
    class=["skeleton__textbox", input.class]
    ...processHtmlAttributes(input, ignoredAttributes)
/>
