<ebay-menu-button type="fake" text="eBay Menu">
    <ebay-menu-button-item href="#" current>item 1</ebay-menu-button-item>
    <ebay-menu-button-item type="button">item 2</ebay-menu-button-item>
    <ebay-menu-button-item href="#">item 3</ebay-menu-button-item>
</ebay-menu-button>
