import type { WithNormalizedProps } from "../../global";
static {
    interface FlagInput extends Omit<Marko.HTML.Span, `on${string}`> {
        flag?: string;
    }
}
export interface Input extends WithNormalizedProps<FlagInput> {}
$ const { flag } = input;

<span class=["fflag", `fflag--${flag?.toLowerCase()}`]/>
