<!--
Note: Due to limitations in Marko v4, this tag must be within a parent component.
Below we have added an empty class to force this to be the case.
-->
class {}
<ebay-confirmation-filled-16-icon/>
<ebay-information-filled-16-icon/>
<ebay-add-16-icon/>
<ebay-camera-16-icon/>
<ebay-close-16-icon/>
<ebay-cart-16-icon/>
<!-- And so on ... Please refer to Skin for available icons-->
