<!--
    Note: Due to limitations in Marko v4, this tag must be within a parent component.
    Below we have added an empty class to force this to be the case.
-->
class {}
<style>
    svg.demo3-icon {
        fill: blue;
    }
</style>
<ebay-notification-24-icon/>
<ebay-notification-24-icon.demo3-icon/>
<ebay-notification-24-icon style='fill:green'/>
