import type { Input as SwitchInput } from "<ebay-switch>";
export type Input = SwitchInput;

class {}

<span class="field">
    <label class="field__label field__label--start" for="switch">
        Option
    </label>
    <ebay-switch ...input id="switch" on-change("emit", "change") />
</span>
