class {}

<ebay-details text="detals" rtl size="small" type="center" open on-details-open(() => console.log('open')) on-details-close(() => console.log('close'))>
    Sample content inside of details
</ebay-details>
