<ebay-fake-tabs index="1">
    <@heading href="https://www.ebay.com/">Tab 1</@heading>
    <@heading href="https://www.ebay.com/">Tab 2</@heading>
    <@heading href="https://www.ebay.com/">Tab 3</@heading>
</ebay-fake-tabs>
