<ebay-file-input ...input>
    <@header class="titleClass" id="titleId">
        Title
    </@header>
    <@subheader class="subtitleClass" id="subtitleId">
        <p>Subtitle 1</p>
        <p>Subtitle 2</p>
    </@subheader>
    <span>Browse files</span>
</ebay-file-input>
