import { symbolDS6 } from "./symbol.js";
import { symbolDS4 } from "./symbol[ds-4].js";
<ebay-icon ...input _name="program-badge-top-rated-seller" _type="program-badge" _themes=[symbolDS6, symbolDS4]/>
