import { processHtmlAttributes } from "../../common/html-attributes"
static var ignoredAttributes = [
    'data',
    'class'
];

<div
    ...processHtmlAttributes(input, ignoredAttributes)
    class=[
        input.class,
        'ebay-area-chart'
    ]>
    <div.ebay-area-chart__container id=state.containerId/>
</div>
