import { processHtmlAttributes } from "../../common/html-attributes"

$ const {
    data,
    class: inputClass,
    series,
    title,
    description,
    xAxisLabelFormat,
    yAxisLabels,
    xAxisPositioner,
    yAxisPositioner,
    ...restInput
} = input

<div
    ...processHtmlAttributes(restInput)
    class=[
        input.class,
        'ebay-area-chart'
    ]>
    <div.ebay-area-chart__container id=component.getContainerId()/>
</div>
