<ebay-stepper>
    <@step>
        <h3>Order placed</h3>
        <p>New Mens Addidas Ultra Boost</p>
        <p>Order total $220</p>
    </@step>
    <@step current>
        <h3>Preparing for shipment</h3>
        <p>We will notify you once it ships.</p>
    </@step>
    <@step>
        <h3>Delivered</h3>
        <p>Guaranteed Wednesday, October 09.</p>
    </@step>
</ebay-stepper>
