{
    "presets": ["@babel/preset-env"],
    "retainLines": true,
    "overrides": [{
        "test": "./src/**/test/*",
        "plugins": [
            ["@babel/plugin-transform-runtime", { "corejs": 3 }]
        ]
    }]
}
