{
    "extends": "ebay",
    "env": {
        "browser": true
    },
    "plugins": [
        "import",
        "mocha",
        "compat"
    ],
    "rules": {
        "import/order": [2, {"groups": ["builtin", "external", "internal", "parent", "sibling", "index"]}],
        "mocha/no-exclusive-tests": 2,
        "mocha/no-identical-title": 2,
        "mocha/no-nested-tests": 2,
        "mocha/no-return-and-callback": 2,
        "mocha/no-sibling-hooks": 2,
        "compat/compat": 2
    }
}
