{
    "extends": [
        "ebay",
        "prettier"
    ],
    "env": {
        "browser": true
    },
    "plugins": [
        "import",
        "mocha",
        "compat"
    ],
    "rules": {
        "import/order": [
            2,
            {
                "groups": [
                    "builtin",
                    "external",
                    "internal",
                    "parent",
                    "sibling",
                    "index"
                ]
            }
        ],
        "mocha/no-exclusive-tests": 2,
        "mocha/no-identical-title": 2,
        "mocha/no-nested-tests": 2,
        "mocha/no-sibling-hooks": 2,
        "compat/compat": 2,
        "no-multiple-empty-lines": 2
    },
    "overrides": [
        {
            "files": [
                "**/test/*",
                "**/test-utils/*"
            ],
            "rules": {
                "compat/compat": 0
            }
        }
    ],
    "parser": "@babel/eslint-parser",
    "parserOptions": {
        "requireConfigFile": false,
        "sourceType": "module"
    }
}