{
    "include": ["src/**/*.js", "src/**/*.ts"],
    "exclude": [
        "**/test",
        "**/mock",
        "demo",
        "**/*.marko.*",
        "**/*.stories.*",
        "**/style",
        "src/common/test-utils",
        "src/components/ebay-icon/icons",
        "src/components/ebay-star-rating/icons"
    ],
    "sourceMap": true,
    "instrument": true,
    "report-dir": "./.coverage",
    "all": true,
    "reporter": ["lcov"]
}
