{
    "extends": ["stylelint-config-standard", "stylelint-prettier/recommended"],
    "rules": {
        "comment-empty-line-before": null,
        "no-descending-specificity": null,
        "no-duplicate-selectors": null,
        "rule-empty-line-before": null,
        "color-function-notation": "legacy",
        "property-no-vendor-prefix": null,
        "selector-no-vendor-prefix": null,
        "selector-class-pattern": null,
        "alpha-value-notation": "number",
        "value-no-vendor-prefix": null,
        "import-notation": "string",
        "declaration-block-no-redundant-longhand-properties": null,
        "at-rule-empty-line-before": null,
        "media-feature-range-notation": "prefix",
        "value-keyword-case": [
            "lower",
            {
                "camelCaseSvgKeywords": true
            }
        ],
        "function-no-unknown": [
            true,
            {
                "ignoreFunctions": ["fade"]
            }
        ]
    },
    "overrides": [
        {
            "files": ["**/*.less"],
            "customSyntax": "postcss-less",
            "rules": {
                "at-rule-no-unknown": [
                    true,
                    {
                        "ignoreAtRules": ["icon-mixin"]
                    }
                ],
                "declaration-empty-line-before": null,
                "function-no-unknown": [
                    true,
                    {
                        "ignoreFunctions": ["fade", "shade", "tint"]
                    }
                ],
                "media-query-no-invalid": null,
                "no-descending-specificity": true,
                "no-duplicate-selectors": true
            }
        }
    ]
}
