import { processHtmlAttributes } from "../../common/html-attributes"
import type { WithNormalizedProps } from "../../global";

static interface ProgressBarInput extends Omit<Marko.HTML.Progress, `on${string}`> {}

export interface Input extends WithNormalizedProps<ProgressBarInput> {}

$ const {
    class: inputClass,
    max = 100,
    value = 0,
    ...htmlInput
} = input;

<progress
    ...processHtmlAttributes(htmlInput)
    class=["progress-bar", inputClass]
    max=max
    value=value/>
