import { processHtmlAttributes } from "../../common/html-attributes"

static var ignoredAttributes = ["class", "max", "value"];

$ var value = input.value || 0;
$ var max = input.max || 100;
<progress
    ...processHtmlAttributes(input, ignoredAttributes)
    class=["progress-bar", input.class]
    max=max
    value=value/>
