<ebay-page-notice status="confirmation" a11y-text="There is a problem">
    <@title>
        <strong>Error:</strong> Please take another look at the following:
    </@title>
    <p>
        <a href="#">Card number</a>,
        <a href="#">Expiration date</a>
    </p>
</ebay-page-notice>
