/**
 * Note: Due to limitations in Marko v4, this tag must be within a parent component.
 * Below we have added an empty class to force this to be the case.
 */
class {};
<ebay-menu icon="settings" a11y-text="Settings">
    <ebay-menu-item>item 1</ebay-menu-item>
    <ebay-menu-item>item 2</ebay-menu-item>
    <ebay-menu-item>item 3</ebay-menu-item>
</ebay-menu>
