<span
    w-bind
    w-onclick="handleClick"
    class=data.classes
    style=data.style>
    <input
        type="radio"
        class="radio__control"
        disabled=data.disabled
        ${data.htmlAttributes}/>
    <span class="radio__icon" hidden>
        <ebay-icon type="inline" name="radio-unchecked" class="radio__unchecked" focusable="false"/>
        <ebay-icon type="inline" name="radio-checked" class="radio__checked" focusable="false"/>
    </span>
</span>
