<ebay-notice
    type="section"
    a11y-heading-text="information"
    a11y-close-text="Dismiss notice">
    <ebay-notice-content>
        <p><strong>Congrats!</strong> You just listed <a href="#">"Spam and Eggs From the Cow's Perspective</a> (paperback)."</p>
        <p>You can check <a href="#">your listing</a> or <a href="#">sell another item</a></p>
    </ebay-notice-content>
    <ebay-button priority="secondary" transparent href="#">Action Button</ebay-button>
</ebay-notice>
