.chart-legend {
    display: inline-block;
    font-size: 12px;
}
.chart-legend--hidden {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}
.chart-legend__table {
    /*flex-shrink: 0;*/
    width: 100%;
}
.chart-legend ul {
    list-style: none;
    margin: 0;
    padding-inline-start: 0;
}
.chart-legend__item {
    line-height: 2rem;
    position: relative;
    transition: opacity 0.5s;
}
.chart-legend__item--patternfill::before {
    border-radius: 2px;
    height: 8px;
    position: relative;
    top: 1px;
    width: 8px;
}
.chart-legend__item--primary::before {
    background-color: var(--data-viz-primary, var(--color-data-viz-chart-primary));
    border: 1px solid var(--data-viz-primary, var(--color-data-viz-chart-primary));
}
.chart-legend__item--secondary::before {
    background-color: var(--data-viz-secondary, var(--color-data-viz-chart-secondary));
    border: 1px solid var(--data-viz-secondary, var(--color-data-viz-chart-secondary));
}
.chart-legend__item--tertiary::before {
    background: repeating-linear-gradient(
        var(--data-viz-quaternary-background, var(--color-data-viz-chart-quaternary-background)),
        var(--data-viz-quaternary-background, var(--color-data-viz-chart-quaternary-background)) 2px,
        var(--data-viz-quaternary-stroke, var(--color-data-viz-chart-quaternary-stroke)) 2px,
        var(--data-viz-quaternary-stroke, var(--color-data-viz-chart-quaternary-stroke)) 3px,
        var(--data-viz-quaternary-background, var(--color-data-viz-chart-quaternary-background)) 3px,
        var(--data-viz-quaternary-background, var(--color-data-viz-chart-quaternary-background)) 4px
    );
    background-color: var(
        --data-viz-tertiary-background,
        var(--color-data-viz-chart-quaternary-background)
    );
    border: 1px solid var(--data-viz-tertiary-stroke, var(--color-data-viz-chart-quaternary-stroke));
}
.chart-legend__item--quaternary::before {
    background: repeating-linear-gradient(
        30deg,
        var(--data-viz-tertiary-background, var(--color-data-viz-chart-tertiary-background)),
        var(--data-viz-tertiary-background, var(--color-data-viz-chart-tertiary-background)) 2px,
        var(--data-viz-tertiary-stroke, var(--color-data-viz-chart-tertiary-stroke)) 2px,
        var(--data-viz-tertiary-stroke, var(--color-data-viz-chart-tertiary-stroke)) 3px,
        var(--data-viz-tertiary-background, var(--color-data-viz-chart-tertiary-background)) 3px,
        var(--data-viz-tertiary-background, var(--color-data-viz-chart-tertiary-background)) 4px
    );
    background-color: var(
        --data-viz-quaternary-background,
        var(--color-data-viz-chart-tertiary-background)
    );
    border: 1px solid var(--data-viz-quaternary-stroke, var(--color-data-viz-chart-tertiary-stroke));
}
.chart-legend__item--quinary::before {
    background-color: var(
        --data-viz-quinary-background,
        var(--color-data-viz-chart-quinary-background)
    );
    border: 1px solid var(--data-viz-quinary-stroke, var(--color-data-viz-chart-quinary-stroke));
}
.chart-legend__table ul {
    width: 100%;
}
.chart-legend__table li {
    align-items: center;
    display: flex;
    width: 100%;
}
.chart-legend__table li span {
    flex-grow: 1;
    text-align: right;
}
.chart-legend ul li::before {
    border-radius: 2px;
    content: "";
    display: inline-block;
    height: 8px;
    margin-right: 10px;
    width: 8px;
}
.chart-legend ul li::after {
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
}
.chart-legend--inactive {
    opacity: 0.2;
}
