<div class="chart-legend">
    <dl class="chart-legend__list">
        <for|item| of=input.item>
            <div class="chart-legend__item">
                <dt class="chart-legend__label">
                    ${item.name}
                </dt>
                <dd class="chart-legend__value">
                    ${item.value}
                </dd>
            </div>
        </for>
    </dl>
</div>
