/**
 * Note: Due to limitations in Marko v4, this tag must be within a parent component.
 * Below we have added an empty class to force this to be the case.
 */
class {}
<ebay-icon type="inline" name="watch" a11y-text="Item is on watch list"/>
