/**
 * Note: Due to limitations in Marko v4, this tag must be within a parent component.
 * Below we have added an empty class to force this to be the case.
 */
class {}
<style>.demo3 { color: blue; }</style>
<ebay-icon type="inline" name="clear"/>
<ebay-icon type="inline" name="clear" class="demo3"/>
<ebay-icon type="inline" name="clear" style="color:red"/>
