<ebay-menu-button type="radio" prefix-label="Select From Menu">
    <@label>
        label text
    </@label>
    <@item checked>item 1 that has very long text</@item>
    <@item>item 2</@item>
    <@item>item 3</@item>
</ebay-menu-button>
