<${data.tag} class="textbox" w-bind>
    <${data.textBoxTag}
    class=data.classes
    type="text"
    disabled=data.disabled
    value=data.value
    placeholder=data.placeholder
     ${data.htmlAttributes} />
</>
