<${data.tag} class=data.rootClass style=data.style w-bind>
    <${data.textboxTag}
    class=data.classes
    type="text"
    aria-invalid=data.invalid
    w-onchange="handleChange"
    w-oninput="handleInput"
    w-onfocus="handleFocus"
    w-onblur="handleBlur"
    ${data.htmlAttributes} />
</>
