import type { Input as BaseInput } from "<ebay-notice-base>";

export type Input = Omit<BaseInput, `on${string}` | 'prefixClass' | 'root' | 'headerRoot' | 'mainRoot' | 'noA11yLabel'>;

$ const {
    status = "attention",
    class: inputClass,
    ...noticeBaseInput
} = input;

<ebay-notice-base
    ...noticeBaseInput
    class=[`inline-notice--${status}`, inputClass]
    status=status
    prefixClass="inline-notice"
    root="div"
    headerRoot="span"
    mainRoot="span"
    noA11yLabel
/>
