import processHtmlAttributes from "../../common/html-attributes"

$ var status = input.status || "attention";
static var ignoredAttributes = ["status", "a11yHeadingText"];

<div
    class=["inline-notice", `inline-notice--${status}`]
    ...processHtmlAttributes(input, ignoredAttributes)>
    <span class="inline-notice__header">
        <ebay-notice-icon ...input/>
    </span>
    <span class="inline-notice__main">
        <${input.renderBody}/>
    </span>
</div>
