$ var status = input.status || "attention";

<ebay-notice-base
    ...input
    class=[`inline-notice--${status}`, input.class]
    status=status
    prefixClass="inline-notice"
    root="div"
    header-root="span"
    main-root="span"
    noA11yLabel
/>
