<ebay-tabs selectedIndex=2>
    <@tab>Tab 1</@tab>
    <@tab>Tab 2</@tab>
    <@tab>Tab 3</@tab>
    <@panel>
        <h3>Panel 1</h3>
        <p>1. Lorem ipsum dolor sit amet</p>
    </@panel>
    <@panel>
        <h3>Panel 2</h3>
        <p>2. Lorem ipsum dolor sit amet</p>
    </@panel>
    <@panel>
        <h3>Panel 3</h3>
        <p>3. Lorem ipsum dolor sit amet</p>
    </@panel>
</ebay-tabs>
