<ebay-snackbar-dialog open=state.open on-close('closeSnackbar')>
    This is the basic snackbar
</ebay-snackbar-dialog>

class {
    onCreate() {
        this.state = {open: true};
    }

    openSnackbar() {
        this.state.open = true;
    }

    closeSnackbar() {
        this.state.open = false;
    }
}