<ebay-progress-stepper default-state="upcoming">
    <@step><@title>Confirmation</@title></@step>
    <@step><@title>In Progress</@title></@step>
    <@step><@title>Done</@title></@step>
</ebay-progress-stepper>
