<style>
    .demo3-card {
        color: #ffef75;
        background: #077574;
        font-size: 24px;
        font-weight: bold;
        width: 200px;
        height: 120px;
        line-height: 120px;
        text-align: center;
    }
</style>
<ebay-carousel>
    <ebay-carousel-item class="demo3-card">Card 1</ebay-carousel-item>
    <ebay-carousel-item class="demo3-card">Card 2</ebay-carousel-item>
    <ebay-carousel-item class="demo3-card">Card 3</ebay-carousel-item>
</ebay-carousel>
