<span>
    <ebay-notice
        type="priority"
        level="page"
        aria-label-text="this is a notice">
        <p><strong>Error:</strong> Please take another look at the following:
        </p>
        <p>
            <a href="#">Card number</a>, <a href="#">Expiration date</a> &amp; <a href="#">Security code</a>
        </p>
    </ebay-notice>
</span>
