<style>
    .demo1-container {
        background: #fff;
        border: 1px solid #eee;
    }
</style>

<div class="demo1-container">
    <ebay-window-notice
        a11y-text="Success!">
        <@title>Your first order has been placed!</@title>
        <p>You'll get a confirmation email soon. The rest of your items are now ready to checkout.</p>
        <@footer><ebay-button priority="none" size="large">Continue</ebay-button></@footer>
    </ebay-window-notice>
</div>
