<span>
    <ebay-notice
        heading-tag="h3"
        type="information"
        level="page"
        aria-label-text="this is a notice">
        <p><strong>Congrats!</strong> You just listed <a href="#">"Spam and Eggs from Crow's perspective"</a></p>
    </ebay-notice>
</span>
