<style>.demo4-blue { color: blue; }</style>
<ebay-icon type="inline" name="clear"/>
<ebay-icon type="inline" name="clear" class="demo4-blue"/>
<ebay-icon type="inline" name="clear" style="color:red"/>
