<ebay-dialog-base
    ...input
    open=input.open
    classPrefix="fullscreen-dialog"
    transitionEl="window"
    on-open("emit", "open")
    on-close("emit", "close")
    class=input.class
    useHiddenProperty=true
    window-class=(input.slideFrom === 'end' ? "fullscreen-dialog__window--slide-end" : "fullscreen-dialog__window--slide")>
    <${input.renderBody}/>
</ebay-dialog-base>
