<ebay-menu-button text="eBay Menu">
    <@item badgeNumber=5 aria-label="item 1 (5 unread items)">item 1</@item>
    <@item badgeNumber=23 aria-label="item 2 (23 unread items)">item 2</@item>
    <@item>item 3</@item>
</ebay-menu-button>
