<ebay-menu label="eBay Menu" type="checkbox">
    <ebay-menu-item checked>item 1</ebay-menu-item>
    <ebay-menu-item>item 2</ebay-menu-item>
    <ebay-menu-item checked>item 3</ebay-menu-item>
</ebay-menu>
