<ebay-notice
    status="information"
    type="page"
    aria-text="information" dismissible aria-close="Dismiss notice">
    <p><strong>Congrats!</strong> You just listed <a href="#">"Spam and Eggs From the Cow's Perspective</a> (paperback)."</p>
    <p>You can check <a href="#">your listing</a> or <a href="#">sell another item</a></p>
</ebay-notice>
