style {
    .video-container {
        width: 230px;
        height: 300px;
        object-fit: cover;
    }
}
class {}

<div class="video-container">
    <ebay-video>
        <@source src="video/playlist.mpd"/>
    </ebay-video>
</div>
