style {
    .video-container {
        width: 230px;
        height: 300px;
        object-fit: cover;
    }
}

class {}

<div class="video-container">
    <ebay-video>
        <@source src="https://ir.ebaystatic.com/cr/v/c1/ebayui/video/v1/playlist.mpd"/>
    </ebay-video>
</div>
