<ebay-menu>
    <@item>
        <ebay-confirmation" style="margin-right: 8px-icon/>Item 1
    </@item>
    <@item>
        <ebay-attention" style="margin-right: 8px-icon/>Item 2
    </@item>
    <@item>
        <ebay-information" style="margin-right: 8px-icon/>Item 3
    </@item>
</ebay-menu>
