<ebay-section-title href="https://www.ebay.com" cta-text="See All">
    <ebay-section-title-title>Today’s Deals – All With Free Shipping</ebay-section-title-title>
    <ebay-section-title-subtitle>Plus, guaranteed best prices.</ebay-section-title-subtitle>
</ebay-section-title>
