<ebay-section-title>
    <ebay-section-title-title>Today’s Deals – All With Free Shipping</ebay-section-title-title>
    <ebay-section-title-subtitle>Plus, guaranteed best prices.</ebay-section-title-subtitle>
    <ebay-section-title-cta href="https://www.ebay.com">See All</ebay-section-title-cta>
</ebay-section-title>
