<ebay-tooltip>
    <ebay-tooltip-host>
        <button
            name="icon-btn-1"
            accesskey="i"
            class='icon-btn tooltip__host'
            aria-label='Developer-handled label'>
            <ebay-icon type="inline" name="cart"/>
        </button>
    </ebay-tooltip-host>
    <ebay-tooltip-content><p>Use Access Key 'S' to display settings.</p></ebay-tooltip-content>
</ebay-tooltip>
