import { symbol } from "./symbol";

import type { Input as IconInput } from "../../component-browser"
export type Input = Omit<IconInput, `_${string}`>;
<ebay-icon ...input _name="top-service-filled-24-colored" _size="24-colored" _type="icon" _themes=symbol/>
