class {}
div.icon-examples
    div
        span.icon
            ebay-program-badge-authenticity-guaranteed
        span.text
            -- ebay-program-badge-authenticity-guaranteed

    div
        span.icon
            ebay-program-badge-click-to-call
        span.text
            -- ebay-program-badge-click-to-call

    div
        span.icon
            ebay-program-badge-ebay-plus
        span.text
            -- ebay-program-badge-ebay-plus

    div
        span.icon
            ebay-program-badge-escrow
        span.text
            -- ebay-program-badge-escrow

    div
        span.icon
            ebay-program-badge-free-warranty
        span.text
            -- ebay-program-badge-free-warranty

    div
        span.icon
            ebay-program-badge-money-back-guarantee-chf
        span.text
            -- ebay-program-badge-money-back-guarantee-chf

    div
        span.icon
            ebay-program-badge-money-back-guarantee-eu
        span.text
            -- ebay-program-badge-money-back-guarantee-eu

    div
        span.icon
            ebay-program-badge-money-back-guarantee-uk
        span.text
            -- ebay-program-badge-money-back-guarantee-uk

    div
        span.icon
            ebay-program-badge-money-back-guarantee-us
        span.text
            -- ebay-program-badge-money-back-guarantee-us

    div
        span.icon
            ebay-program-badge-money-back-guarantee-zl
        span.text
            -- ebay-program-badge-money-back-guarantee-zl

    div
        span.icon
            ebay-program-badge-top-rated-seller
        span.text
            -- ebay-program-badge-top-rated-seller

    div
        span.icon
            ebay-program-badge-vault
        span.text
            -- ebay-program-badge-vault
