/**
    Note: Due to limitations in Marko v4, this tag must be within a parent component.
    Below we have added an empty class to force this to be the case.
*/
class {}
<ebay-program-badge-authenticity-guaranteed/>
<ebay-program-badge-click-to-call/>
<ebay-program-badge-escrow/>
<ebay-program-badge-free-warranty/>
<ebay-program-badge-money-back-guarantee-chf/>
<ebay-program-badge-money-back-guarantee-eu/>
<ebay-program-badge-money-back-guarantee-uk/>
<ebay-program-badge-money-back-guarantee-us/>
<ebay-program-badge-money-back-guarantee-zl/>
<!-- And so on ... Please refer to Skin for available icons-->
