<style>
    .demo-composite-container {
        width: 300px;
    }

    .demo-composite-text {
        vertical-align: top;
        width: 220px;
    }
</style>
<div class="demo-composite-container">
    <ebay-skeleton>
        <div>
            <ebay-skeleton-avatar as="span"/>
            <ebay-skeleton-text multiline as="span" class="demo-composite-text"/>
        </div>
        <ebay-skeleton-button/>
    </ebay-skeleton>
</div>
