<style>
    .demo-image-container {
        width: 220px;
    }
    .demo-image {
        height: 220px;
        width: 220px;
    }
</style>

<div class="demo-image-container">
    <ebay-skeleton>
        <ebay-skeleton-image class="demo-image"/>
    </ebay-skeleton>
</div>
