<style>
    .demo-text-container {
        width: 220px;
    }
</style>
<div class="demo-text-container">
    <ebay-skeleton style="width:220px">
        <ebay-skeleton-text size="large" multiline />
    </ebay-skeleton>
</div>
