<style>
    .demo-tile-container {
        width: 220px;
    }
    .custom-image {
        height: 220px;
        width: 220px;
    }
</style>

<div class="demo-tile-container">
    <ebay-skeleton>
        <ebay-skeleton-image class="custom-image"/>
        <ebay-skeleton-text size="large" multiline/>
    </ebay-skeleton>
</div>
