<ebay-toggle-button-group columns=3 ...input>
    <@button title="First Item" subtitle="Empty on load"/>
    <@button title="Second Item" subtitle="Empty on load"/>
    <@button title="Third Item" subtitle="Pressed on load" pressed/>
    <@button title="Fourth Item" subtitle="Empty on load"/>
    <@button title="Fifth Item" subtitle="Pressed on load" pressed/>
    <@button title="Sixth Item" subtitle="Empty on load"/>
</ebay-toggle-button-group>
