<ebay-menu-button reverse text="eBay Menu" style="margin-left:200px">
    <ebay-menu-button-item>item 1 that has very long text</ebay-menu-button-item>
    <ebay-menu-button-item>item 2</ebay-menu-button-item>
    <ebay-menu-button-item>item 3</ebay-menu-button-item>
</ebay-menu-button>
