<span
    onExpander-expand("handleExpand")
    onExpander-collapse("handleCollapse")
    overlay-style=input.overlayStyle>
    <if(typeof input.renderBody === "function")>
        <${input}/>
    </if>
    <else>${input.renderBody}</else>
</span>
