<ebay-pagination
    class="example-05"
    on-previous("emit", "previous")
    on-next("emit", "next")
    on-select("emit", "select")
>
    <@item type="previous" disabled/>
    <@item current>
        1
    </@item>
    <@item>2</@item>
    <@item>3</@item>
    <@item>4</@item>
    <@item>5</@item>
    <@item>6</@item>
    <@item>7</@item>
    <@item>8</@item>
    <@item>9</@item>
    <@item type="next"/>
</ebay-pagination>
