<ebay-progress-stepper a11yHeadingText='Shipment progress' defaultState="upcoming">
    <@step>
        <@title>Started</@title>
        July 3rd
    </@step>
    <@step>
        <@title>Shipped</@title>
        July 4th
    </@step>
    <@step>
        <@title>In Progress</@title>
        July 5th
    </@step>
    <@step>
        <@title>Delivered</@title>
        July 6th
    </@step>
</ebay-progress-stepper>
