<ebay-button variant="expand" priority="primary">
    <span class="expand-btn__cell">
        <span>Expand</span>
        <ebay-icon type="inline" name="chevron-down-bold" class="expand-btn__icon" no-skin-classes/>
    </span>
</ebay-button>
