<ebay-filter-menu text="Filter Selected">
    <ebay-filter-menu-item value="item 1" checked>item 1</ebay-filter-menu-item>
    <ebay-filter-menu-item value="item 2">item 2</ebay-filter-menu-item>
    <ebay-filter-menu-item value="item 3">item 3</ebay-filter-menu-item>
</ebay-filter-menu>
