<${data.tag}
    w-bind
    w-onclick="handleClick"
    w-onkeydown="handleKeydown"
    type="button"
    class=data.classes
    href=data.href
    disabled=data.disabled
    aria-disabled=data.partiallyDisabled
    ${data.htmlAttributes}>
    <if(data.label)>
        ${data.label}
    </if>
    <else>
        <span w-body body-only-if(true)/>
    </else>
</>
