<span
    w-bind
    class=data.class
    style=data.style
    ${data.htmlAttributes}
    if(data.showBadge)>
    ${data.displayText}<if(data.a11yText)><span class="clipped"> - ${data.a11yText}</span></if>
</span>
