<ebay-fake-tabs>
    <@tab href="https://www.ebay.com/">Tab 1</@tab>
    <@tab href="https://www.ebay.com/">Tab 2</@tab>
    <@tab href="https://www.ebay.com/">Tab 3</@tab>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ornare, quam at lacinia pretium, lacus urna luctus nisi, eget molestie massa tortor id lacus. Aenean ac fringilla lacus. Fusce vel dui ex. Vivamus luctus egestas nulla, non hendrerit purus luctus at. Maecenas vel diam enim. Pellentesque quam neque, porttitor tincidunt vestibulum at, dapibus sit amet tortor.
    </p>
</ebay-fake-tabs>
