import { symbol } from "./symbol";

import type { Input as IconInput } from "../../component-browser"
export type Input = Omit<IconInput, `_${string}`>;
<ebay-icon ...input _name="flash-24" _size="24" _type="icon" _themes=symbol/>
