<ebay-fake-menu-button reverse text="eBay Menu" style="margin-left:200px">
    <@item href="https://www.ebay.com">item 1 that has very long text</@item>
    <@item href="https://www.ebay.com">item 2</@item>
    <@item href="https://www.ebay.com">item 3</@item>
</ebay-fake-menu-button>
