<ebay-infotip
    a11y-close-button-text="Dismiss infotip"
    aria-label="Important information">
    <@icon>
        <ebay-settings-24-icon/>
    </@icon>
    <@heading>Important</@heading>
    <@content>
        <p>This is some important info</p>
    </@content>
</ebay-infotip>
