<div>
    <em>
    NOTE: No block elements can be nested in p elements, like div, h1-6, or other p elements.
        Any content with that will break
    </em>
    <p>
        Some paragraph content
        <ebay-infotip
            a11yCloseButtonText="Dismiss infotip"
            ariaLabel="Important information">
            <@heading>Important</@heading>
            <@content>This is some important info</@content>
        </ebay-infotip>
        More paragraph content
    </p>
</div>
