<ebay-video
    width=460
    height=300
    src="/video/playlist.mpd"
    cdnURL="Fake-url-to-fail">
    <@loading>I'm thinking...</@loading>
    <@retry>Oh man, something bad happened. Click to try again</@retry>
</ebay-video>
