import { symbol } from "./symbol";
import { def } from "./def"
import type { Input as IconInput } from "../../../ebay-icon/component-browser"
export type Input = Omit<IconInput, `_${string}`>;
<ebay-icon ...input _name="flag-bg" _size="" _type="flag" _themes=symbol _def=def/>
