<ebay-textbox>
    <@label>Label</@label>
    <@description class="field__description--information">Information description</@description>
    <@char-count max=40 clipped-text="characters"/>
</ebay-textbox>
