import type { Input as TextboxInput } from "<ebay-textbox>";
export type Input = TextboxInput;

class {}

<ebay-textbox
    floatingLabel='Email address'
    value='test'
    on-floating-label-init('emit', 'floating-label-init')
    ...input
/>
