<ebay-textbox
    floating-label='First Name'
    autocomplete='given-name'
/>

<ebay-textbox
    floating-label='Last Name'
    autocomplete='family-name'
/>

<ebay-textbox
    floating-label='Email address'
    autocomplete='email'
    placeholder='valid email address'
/>
