<ebay-snackbar-dialog open=state.open on-close('closeSnackbar') on-action('closeSnackbar')>
    This is the action snackbar
    <@action action-text="Undo" action-access-key="U"/>
</ebay-snackbar-dialog>
<ebay-button on-click("openSnackbar")>
    Open Action Snackbar
</ebay-button>

class {
    onCreate() {
        this.state = {open: false};
    }

    openSnackbar() {
        this.state.open = true;
    }

    closeSnackbar() {
        this.state.open = false;
    }
}