import type { Input as SelectInput } from "<ebay-select>"
export type Input = SelectInput;

class {}

<span class="field">
    <label class="field__label field__label--start field__label--disabled" for="select">
        Option
    </label>
    <ebay-select ...input name="formFieldName" id="select" disabled>
        <@option value="1" text="Option 1"/>
        <@option value="2" text="Option 2"/>
        <@option value="3" text="Option 3"/>
    </ebay-select>
</span>
