<var i=0/>
<ebay-menu text="eBay Radio Menu" type="radio">
    <ebay-menu-item for(idx from 1 to 100) checked=(idx === 24)>
        <% i++ %>
        item ${i}
    </ebay-menu-item>
</ebay-menu>

<var j=0/>
<ebay-menu text="eBay Checkbox Menu" type="checkbox" style="margin-left: 8px;">
    <ebay-menu-item for(idx from 1 to 100) checked=(idx === 24 || idx === 49)>
        <% j++ %>
        item ${j}
    </ebay-menu-item>
</ebay-menu>
