<ebay-progress-stepper direction="column">
    <@step>
        <@title>Order placed</@title>
        New Mens Addidas Ultra Boost<br/>
        Order total $220
    </@step>
    <@step current>
        <@title>Preparing for shipment</@title>
        We will notify you once it ships.
    </@step>
    <@step>
        <@title>Delivered</@title>
        Guaranteed Wednesday, October 09.
    </@step>
</ebay-progress-stepper>
