<ebay-list>
    <@item>
        <@leading>
            <ebay-folder-16-icon/>
        </@leading>
        Item 1
    </@item>
    <@item>
        <@leading>
            <ebay-lamp-16-icon/>
        </@leading>
        Item 2
    </@item>
    <@item>
        <@leading>
            <ebay-file-16-icon/>
        </@leading>
        Item 3
    </@item>
</ebay-list>
