import processHtmlAttributes from "../../common/html-attributes"

<ebay-notice-base
    ...input
    role="region"
    prefix-class="section-notice"
    main-root="span"
    a11yRoleDescription=(input.a11yRoleDescription || "Notice")
    class=[input.status && `section-notice--${input.status}`, input.class]
    ...input/>
