<ebay-progress-stepper no-wrap-paragraph-tag=true direction="column">
    <@step>
        <@title>Order placed</@title>
        <p>New Mens Addidas Ultra Boost</p>
        <p>Order total $220</p>
    </@step>
    <@step current>
        <@title>Preparing for shipment</@title>
        <p>We will notify you once it ships.</p>
    </@step>
    <@step>
        <@title>Delivered</@title>
        <p>Guaranteed Wednesday, October 09.</p>
    </@step>
</ebay-progress-stepper>
