<ebay-combobox name="example2text" value="Basic Offer">
    <ebay-combobox-option value="1" text="August Campaign"/>
    <ebay-combobox-option value="2" text="4th of July Sale (paused)"/>
    <ebay-combobox-option value="3" text="Basic Offer"/>
    <ebay-combobox-option value="4" text="Basic Offer 1"/>
    <ebay-combobox-option value="5" text="Basic Offer 3"/>
</ebay-combobox>
