<ebay-menu text="eBay Menu">
    <ebay-menu-item badge-number=5 badge-aria-label="5 unread items">item 1</ebay-menu-item>
    <ebay-menu-item badge-number=23 badge-aria-label="23 unread items">item 2</ebay-menu-item>
    <ebay-menu-item>item 3</ebay-menu-item>
</ebay-menu>
