<ebay-menu text="eBay Menu">
    <ebay-menu-item badge-number=5 badge-a11y-text="unread items">item 1</ebay-menu-item>
    <ebay-menu-item badge-number=23 badge-a11y-text="unread items">item 2</ebay-menu-item>
    <ebay-menu-item>item 3</ebay-menu-item>
</ebay-menu>
