<ebay-combobox name="example1text" autocomplete="list">
    <ebay-combobox-option text="August Campaign"/>
    <ebay-combobox-option text="4th of July Sale"/>
    <ebay-combobox-option text="Basic Offer"/>
</ebay-combobox>
