<ebay-combobox-readonly name="formFieldName">
    <ebay-combobox-readonly-option value="1" text="Option 1"/>
    <ebay-combobox-readonly-option value="2" text="Option 2" selected/>
    <ebay-combobox-readonly-option value="3" text="Option 3"/>
</ebay-combobox-readonly>
