<ebay-button href="#" priority="secondary" pill>Single line</ebay-button>
<ebay-button href="#" priority="secondary" pill>Lots of text that should be truncated at 2 lines</ebay-button>
<ebay-button priority="primary" pill>Lots of text that should be truncated at 2 lines</ebay-button>
