<ebay-button href="#" priority="secondary" pill>
    <span class="fake-btn__cell">
        <span>Single line</span>
    </span>
</ebay-button>
<ebay-button href="#" priority="secondary" pill>
    <span class="fake-btn__cell">
        <span>Lots of text that should be truncated at 2 lines</span>
    </span>
</ebay-button>
<ebay-button priority="primary" pill>
    <span class="btn__cell">
        <span>Lots of text that should be truncated at 2 lines</span>
    </span>
</ebay-button>
