<ebay-tooltip>
    <ebay-tooltip-host>
        <button
            name="icon-btn-2"
            accesskey="s"
            class='icon-btn'
            aria-label='Developer-handled label'>
            <ebay-icon type="inline" name="settings"/>
        </button>
    </ebay-tooltip-host>
    <ebay-tooltip-content><p>Use Access Key 'S' to display settings.</p></ebay-tooltip-content>
</ebay-tooltip>
