import processHtmlAttributes from "../../common/html-attributes"

<ebay-dialog-base
    ...input
    isModal=false
    classPrefix="snackbar-dialog"
    class=[input.class, "snackbar-dialog--transition"]
    windowClass=[input.layout === "column" && "snackbar-dialog__window--column"]
    buttonPosition="hidden">
    <${input.renderBody}/>
</ebay-dialog-base>
