class {}

<ebay-video width="600" height="400" playView="fullscreen">
    <@source
        src="https://ir.ebaystatic.com/cr/v/c1/ebayui/video/v1/playlist.m3u8"
        type="hls"/>
    <@source
        src="https://ir.ebaystatic.com/cr/v/c1/ebayui/video/v1/playlist.mpd"
        type="dash"/>
</ebay-video>
