class {}

<ebay-video width="600" height="400" spinnerTimeout=4000>
    <@source src="https://bitdash-a.akamaihd.net/content/MI201109210084_1/m3u8s/f08e80da-bf1d-4e3d-8899-f0f6155f6efa.m3u8" type="hls"/>
    <@source src="https://bitmovin-a.akamaihd.net/content/MI201109210084_1/mpds/f08e80da-bf1d-4e3d-8899-f0f6155f6efa.mpd" type="dash"/>
</ebay-video>
