class {}

<ebay-video
    width=460
    height=300
    a11yLoadText="This video is loading now"
    a11yPlayText="Click to start this video"
    reportText="Custom Text">
    <@source src="https://ir.ebaystatic.com/cr/v/c1/ebayui/video/v1/video.mp4"/>
</ebay-video>
