<div style="max-width: 200px">
    <ebay-listbox-button name="formFieldName" truncate fluid>
        <@option
            value="1"
            text="Option with a lot of large text that would overflow to next line 1"/>
        <@option value="2" text="Option 2"/>
        <@option value="3" text="Option 3"/>
    </ebay-listbox-button>
</div>
