<span class="field">
    <ebay-listbox-button name="formFieldName" hasError aria-describedby:scoped="listbox-description">
        <@option value="1" text="Option 1" selected/>
        <@option value="2" text="Option 2"/>
        <@option value="3" text="Option 3"/>
    </ebay-listbox-button>

    <div class="field__description field__description--attention" id:scoped="listbox-description">
        <ebay-attention-filled-16-icon/>
        <span>There was an error</span>
    </div>
</span>
