class {}

<ebay-3d-viewer
    assetId='HvTpDZ6C3'
    on-action((a) => console.log(a.action))
    defaultDistance=5
    maxDistance=10
    minDistance=2
    fov=42
    minPolarAngle=0
    maxPolarAngle=2.3
    dampingFactor=0.2
    noAllowViewBottom
    noAutoRotate
    noMouseMoveFollow
    noAnimatedPlacement
/>
