<ebay-tooltip no-hover>
    <ebay-tooltip-host>
        <ebay-textbox placeholder="Email address"/>
    </ebay-tooltip-host>
    <ebay-tooltip-content><p>Please choose the email address you use the most.</p></ebay-tooltip-content>
</ebay-tooltip>
