<ebay-tooltip no-hover>
    <@host>
        <ebay-textbox placeholder="Email address"/>
    </@host>
    <@content>
        <p>Please choose the email address you use the most.</p>
    </@content>
</ebay-tooltip>
