<ebay-tooltip no-hover>
    <ebay-tooltip-host>
        <a href="https://www.ebay.com" id="tooltip-link-1">View options</a>
    </ebay-tooltip-host>
    <ebay-tooltip-content><p>Use Access Key 'S' to display settings.</p></ebay-tooltip-content>
</ebay-tooltip>
