<ebay-menu-button text="eBay Menu" type="fake">
    <ebay-menu-button-item href="www.ebay.com">item 0</ebay-menu-button-item>
    <ebay-menu-button-item>item 1</ebay-menu-button-item>
    <ebay-menu-button-item href=null>item 2</ebay-menu-button-item>
    <ebay-menu-button-item>item 3</ebay-menu-button-item>
</ebay-menu-button>
