<ebay-menu-button text="eBay Menu" type="fake">
    <@item href="www.ebay.com">item 0</@item>
    <@item>item 1</@item>
    <@item href=null>item 2</@item>
    <@item>item 3</@item>
</ebay-menu-button>
