<ebay-infotip a11y-close-text="Dismiss infotip" aria-label="Important information">
    <ebay-infotip-heading>Important</ebay-infotip-heading>
    <ebay-infotip-content><p>This is some important info</p></ebay-infotip-content>
</ebay-infotip>
