<ebay-success-message full title="Your first order has been placed!" icon-a11y-text="Success" title-heading-tag="h3">
    <ebay-success-message-content>
        You'll get a confirmation email soon. The rest of your items are now ready to checkout.
    </ebay-success-message-content>
    <button class="success-message__button">Continue to Order 2</button>
</ebay-success-message>
