class {
    onCreate() {
        this.state = { buttonText: 'Name' };
    }

    handleSelect(e) {
        this.state.buttonText = e.el.textContent;
    }
}

<div id="custom-label">
    Sort By:
</div>
<ebay-menu-button prefix-id="custom-label" text=state.buttonText on-select('handleSelect')>
    <@item>Name</@item>
    <@item>Year</@item>
    <@item>Group</@item>
</ebay-menu-button>
