<ebay-menu-button text="eBay Menu" type="radio">
    <ebay-menu-button-item value="item 1" checked>item 1</ebay-menu-button-item>
    <ebay-menu-button-item value="item 2">item 2</ebay-menu-button-item>
    <ebay-menu-button-item value="item 3">item 3</ebay-menu-button-item>
</ebay-menu-button>
