<symbol id="icon-checkbox-unchecked-small" viewBox="0 0 14 14">
  <path
    fill-rule="nonzero"
    d="M13 14H1a1 1 0 0 1-1-1V1a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1zM2 12h10V2H2v10z"
  ></path>
</symbol>
