style {
    .video-container video {
        width: 230px;
        height: 300px;
        object-fit: cover
    }
}

<div class="video-container">
    <ebay-video src="http://videoservices.vip.qa.ebay.com/videos/v1/d9bece211760a4e125556545ffffffc4/playlist.mpd"/>
</div>
