<ebay-tabs activation="manual">
    <@heading>Tab 1</@heading>
    <@heading>Tab 2</@heading>
    <@heading>Tab 3</@heading>
    <@panel>
        <h3>Panel 1</h3>
        <p>1. Lorem ipsum dolor sit amet</p>
    </@panel>
    <@panel>
        <h3>Panel 2</h3>
        <p>2. Lorem ipsum dolor sit amet</p>
    </@panel>
    <@panel>
        <h3>Panel 3</h3>
        <p>3. Lorem ipsum dolor sit amet</p>
    </@panel>
</ebay-tabs>
