<ebay-notice status="attention" type="page" a11y-heading-text="Attention" on-button-click("trigger")>
    <ebay-notice-content>
        <p>
            <strong>Error:</strong> Please take another look at the following:
        </p>
        <p>
            <a href="#">Card number</a>,
            <a href="#">Expiration date</a>
        </p>
    </ebay-notice-content>
    <ebay-button priority="secondary" transparent>Button</ebay-button>
</ebay-notice>
