<ebay-fake-menu-button text="eBay Menu" priority="primary">
    <@item href="#">item 1 that has very long text</@item>
    <@item href="#">item 2</@item>
    <@item href="#">item 3</@item>
</ebay-fake-menu-button>
