<ebay-wizard-stepper>
    <@step>Confirmation</@step>
    <@step current>Current</@step>
    <@step>Upcoming</@step>
    <@step number=1>Default</@step>
    <@step type="information">Information</@step>
    <@step type="attention">Attention</@step>
</ebay-wizard-stepper>
