import processHtmlAttributes from "../../common/html-attributes"

$ const header = input.header || {};
<ebay-dialog-base
    ...input
    open=input.open
    baseEl="aside"
    transitionEl="root"
    isModal=false
    classPrefix="toast"
    buttonPosition="right"
    on-open("emit", "toast-show")
    on-close("emit", "toast-close")
    class=[input.class, "toast--transition"]>
    <@header ...header class=[header.class, "toast__title"] />
    <${input.renderBody}/>
</ebay-dialog-base>
