import processHtmlAttributes from "../../common/html-attributes"

<ebay-dialog-base
    ...input
    open=input.open
    baseEl="aside"
    transitionEl="root"
    noTrap
    classPrefix="toast"
    buttonPosition="right"
    on-modal-show("emit", "toast-show")
    on-modal-close("emit", "toast-close")
    class=[
        input.class,
        "toast--transition"
    ]>
    <${input.renderBody}/>
</ebay-dialog-base>
