<ebay-split-button type="radio" a11yMenuText="Radio Menu">
    Button
    <@item>item 1 that has very long text</@item>
    <@item checked>item 2</@item>
    <@item>item 3</@item>
</ebay-split-button>
