// .carousel__control
@carousel-control-background-color: @ds6-color-white;
@carousel-control-border-color: @ds6-color-black;
@carousel-control-svg-color: @ds6-color-black;

@carousel-control-active-background-color: @ds6-color-grey5;
@carousel-control-active-svg-color: @ds6-color-white;

// .carousel__play, .carousel__pause
@carousel-play-pause-color: @ds6-color-white;

// .carousel__dots
@carousel-dots-background-color: @ds6-color-black;
@carousel-dots-after-background-color: @ds6-color-grey3;
@carousel-dots-after-active-background-color: @ds6-color-grey5;
@carousel-dots-hover-background-color: @ds6-color-grey4;
@carousel-dots-hover-svg-color: @ds6-color-white;
@carousel-dots-hover-active-background-color: @ds6-color-grey5;
@carousel-dots-hover-active-svg-color: @ds6-color-white;
