<ebay-menu-button text="eBay Menu separator">
    <ebay-menu-button-item>item 1</ebay-menu-button-item>
    <ebay-menu-button-item>item 2</ebay-menu-button-item>
    <ebay-menu-button-separator/>
    <ebay-menu-button-item>item 3</ebay-menu-button-item>
    <ebay-menu-button-item>item 4</ebay-menu-button-item>
    <ebay-menu-button-item>item 5</ebay-menu-button-item>
    <ebay-menu-button-separator/>
    <ebay-menu-button-item>item 6</ebay-menu-button-item>
</ebay-menu-button>
