export interface Input {
    value: number;
    a11yStarText: [string, string, string, string, string];
}

class {}

<fieldset>
    <legend>Rate Product</legend>
    <ebay-star-rating-select
        value=input.value
        a11yStarText=input.a11yStarText
        onChange("emit", 'change')
        onKeydown("emit", 'keydown')
        onFocus("emit", 'focus')
    />
</fieldset>
