import processHtmlAttributes from "../../common/html-attributes"

$ var status = "confirmation";
<ebay-notice-base
    class=[input.fillWindow && `window-notice--fill`, input.class]
    role="region"
    status=status
    prefixClass="window-notice"
    ...input/>
