<ebay-notice-base
    ...input
    class=[input.window === "fullscreen" && `window-notice--screen`, input.class]
    role="region"
    status="confirmation"
    prefixClass="window-notice"
    a11y-text=input.a11yText
    />
