<ebay-menu-button text="eBay Menu">
    <ebay-menu-button-item><ebay-icon name="confirmation-filled" type="inline" style="margin-right: 8px"></ebay-icon>Item 1</ebay-menu-button-item>
    <ebay-menu-button-item><ebay-icon name="attention-filled" type="inline" style="margin-right: 8px"></ebay-icon>Item 2</ebay-menu-button-item>
    <ebay-menu-button-item><ebay-icon name="information-filled" type="inline" style="margin-right: 8px"></ebay-icon>Item 3</ebay-menu-button-item>
</ebay-menu-button>
