import { symbol } from "./symbol";
import type { Input as IconInput } from "../../component"
export type Input = Omit<IconInput, `_${string}`>;
<ebay-icon ...input _name="discover-12-colored" _type="icon" _themes=symbol/>
