<ebay-breacrumb aria-label="You are here">
    <ebay-breacrumb-item href="http://www.ebay.com/">eBay</ebay-breacrumb-item>
    <ebay-breacrumb-item href="https://www.ebay.com/rpp/cell-phone-pda">Cell Phones, Smart Watches & Accessories</ebay-breacrumb-item>
    <ebay-breacrumb-item href="https://www.ebay.com/b/Smart-Watch-Accessories/182064/bn_16565905">Smart Watch Accessories</ebay-breacrumb-item>
    <ebay-breacrumb-item>Smart Watch Bands</ebay-breacrumb-item>
</ebay-breacrumb>