<ebay-filter-menu-button
    text="Filter Menu Footer"
    footerText="Apply"
    variant="form"
    formName="filter-menu-button-form"
    formAction="http://www.ebay.com/">
    <@item value="item 1">item 1</@item>
    <@item value="item 2">item 2</@item>
    <@item value="item 3">item 3</@item>
</ebay-filter-menu-button>
