<ebay-section-title>
    <@title>Today's Deals - All With Free Shipping</@title>
    <@subtitle>Plus, guaranteed best prices.</@subtitle>
    <@overflow>
        <ebay-menu-button variant='overflow' a11yText='eBay Menu'>
            <@item>item 1</@item>
            <@item>item 2</@item>
            <@item>item 3</@item>
        </ebay-menu-button>
    </@overflow>
</ebay-section-title>
