import { symbol } from "./symbol";

import type { Input as IconInput } from "../../../ebay-icon/component-browser"
export type Input = Omit<IconInput, `_${string}`>;
<ebay-icon ...input _name="star-rating-small-4" _size="" _type="star-rating" _themes=symbol/>
