import { symbol } from "./symbol";
import type { Input as IconInput } from "../../component"
export type Input = Omit<IconInput, `_${string}`>;
<ebay-icon ...input _name="top-rated-seller-24-fit" _type="icon" _themes=symbol/>
