import type { Input as EducationNoticeInput } from "<ebay-education-notice>"
export type Input = EducationNoticeInput;

<ebay-education-notice ...input>
    <@title>
        <div>Educaiton title</div>
    </@title>
    <p>
        This is some education infromation
    </p>
</ebay-education-notice>
