import vaultIcon from '<ebay-the-ebay-vault-24-icon>';

<ebay-education-notice ...input a11y-text="ebay vault" variant="prominent" education-icon=vaultIcon>
    <@title>
        <div>Notice title</div>
    </@title>
    <p>
        The eBay vault will store items for you.
    </p>
</ebay-education-notice>
