class {}

<ebay-video
    width=460
    height=300
    a11y-load-text="This video is loading now"
    a11y-play-text="Click to start this video"
    report-text="Custom Text">
    <@source src="https://ir.ebaystatic.com/cr/v/c1/ebayui/video/v1/video.mp4"/>
</ebay-video>
