<span>
    <ebay-notice
        type="confirmation"
        level="inline"
        aria-label-text="this is a notice">
        <p> Couldn't load all the items, please try again later.
        </p>
    </ebay-notice>
</span>
