import { symbol } from "./symbol";

import type { Input as IconInput } from "../../component-browser"
export type Input = Omit<IconInput, `_${string}`>;
<ebay-icon ...input _name="legacy-top-rated-seller-48-colored" _size="48-colored" _type="icon" _themes=symbol/>
