<ebay-tooltip pointer="top-left" style-top="24px" style-left="-16px">
    <@host>
        <a href="https://www.ebay.com">View options</a>
    </@host>
    <@content>
        <p>Use Access Key 'S' to display settings.</p>
    </@content>
</ebay-tooltip>
