<ebay-tooltip pointer="top-left" style-top="32px" style-left="-16px">
    <ebay-tooltip-host>
        <a href="https://www.ebay.com">View options</a>
    </ebay-tooltip-host>
    <ebay-tooltip-content><p>Use Access Key 'S' to display settings.</p></ebay-tooltip-content>
</ebay-tooltip>
