<ebay-progress-stepper>
    <@step><@title>Confirmation</@title>July 4th</@step>
    <@step current type="attention"><@title>Atention</@title>July 5th</@step>
    <@step><@title>Shipped</@title>July 6th</@step>
</ebay-progress-stepper>
