<ebay-page-notice
    status="attention"
    a11y-text="Attention">
    <p><strong>Error:</strong> Please take another look at the following:</p>
    <@footer><ebay-button priority="secondary" transparent>Action</ebay-button></@footer>
</ebay-page-notice>
