$ const file = {
    name: "file-name.jpg",
    type: "image/jpeg",
    src: "https://ir.ebaystatic.com/cr/v/c01/skin/docs/tb-real-square-pic.jpg",
};
<ebay-file-preview-card file=file a11y-cancel-upload-text="cancel upload" delete-text="remove"/>
