$ const { src, alt, fillPlacement, ...buttonInput } = input
<ebay-toggle-button title="Title" subtitle="Subtitle" ...buttonInput onToggle("emit", "toggle")>
    <@img src=src alt=alt fillPlacement=fillPlacement />
</ebay-toggle-button>
