<ebay-toggle-button title="Title" subtitle="Subtitle">
    <@icon><ebay-afterpay-32-colored-icon/></@icon>
</ebay-toggle-button>
<ebay-toggle-button title="Title" subtitle="Subtitle" gallery>
    <@icon><ebay-archive-24-icon/></@icon>
</ebay-toggle-button>
