<ebay-breadcrumbs a11y-heading-text="Page navigation">
    <@item>eBay</@item>
    <@item>Cell Phones, Smart Watches & Accessories</@item>
    <@item>Smart Watch Accessories</@item>
    <@item>Smart Watch Bands</@item>
</ebay-breadcrumbs>
