class {}

<span class="field">
    <ebay-radio
          ...input
          class="field__control"
          id="radio"
          value="1"  />
    <label class="field__label field__label--end" for="radio">
        Option
    </label>
</span>
