<div>
    <ebay-eek max="A" min="G" rating="A"/>
    <ebay-eek max="A" min="G" rating="B"/>
    <ebay-eek max="A" min="G" rating="C"/>
    <ebay-eek max="A" min="G" rating="D"/>
    <ebay-eek max="A" min="G" rating="E"/>
    <ebay-eek max="A" min="G" rating="F"/>
    <ebay-eek max="A" min="G" rating="G"/>
</div>
