<var options=[
    { value: 1, label: 'Option 1' },
    { value: 2, label: 'Option 2', selected: true },
    { value: 3, label: 'Option 3' }
]/>

<span style="display: inline-block; max-width: 200px;">
    <ebay-select name="formFieldName">
        <if(true)>
            <ebay-select-option for(option in options) value=option.value label=option.label selected=option.selected/>
        </if>
    </ebay-select>
</span>
