<ebay-breadcrumb heading-text="Page navigation">
    <ebay-breadcrumb-item href="http://www.ebay.com/" navsrc="{}" _sp="p2345.m909.l34">eBay</ebay-breadcrumb-item>
    <ebay-breadcrumb-item href="https://www.ebay.com/rpp/cell-phone-pda" navsrc="{}" _sp="p2345.m909.l34">Cell Phones, Smart Watches & Accessories</ebay-breadcrumb-item>
    <ebay-breadcrumb-item href="https://www.ebay.com/b/Smart-Watch-Accessories/182064/bn_16565905" navsrc="{}" _sp="p2345.m909.l34">Smart Watch Accessories</ebay-breadcrumb-item>
    <ebay-breadcrumb-item>Smart Watch Bands</ebay-breadcrumb-item>
</ebay-breadcrumb>
