<ebay-page-notice
    status="information"
    a11yText="Information">
    <@title as="h3">Information</@title>
    <p><strong>Congrats!</strong> You just listed <a href="#">"Spam and Eggs from Crow's perspective"</a></p>
</ebay-page-notice>
