style {
    .video-container-2 {
        width: 50%;
    }
}

class {}

<div class="video-container-2">
    <ebay-video autoplay>
        <@source src="https://ir.ebaystatic.com/cr/v/c1/ebayui/video/v1/playlist.mpd"/>
    </ebay-video>
</div>
