import { processHtmlAttributes } from "../../common/html-attributes";
static var ignoredAttributes = ["a11yText", "class"];

static interface SkeletonInput extends Omit<Marko.Input<"div">, `on${string}`> {
    "a11y-text"?: string;
}

export interface Input extends WithNormalizedProps<SkeletonInput> {}

<div
    role="img"
    aria-label=input.a11yText || "Loading..."
    class=["skeleton", input.class]
    ...processHtmlAttributes(input, ignoredAttributes)
>
    <${input.renderBody}/>
</div>
