import { symbol } from "./symbol";
import { def } from "./def"
import type { Input as IconInput } from "../../component-browser"
export type Input = Omit<IconInput, `_${string}`>;
<ebay-icon ...input _name="ai-spectrum-filled-16-colored" _size="16-colored" _type="icon" _themes=symbol _def=def/>
