<ebay-stepper>
    <@step>
        <@title>Paid</@title>
    </@step>
    <@step current>
        <@title>Shipped</@title>
    </@step>
    <@step>
        <@title>Complete</@title>
    </@step>
</ebay-stepper>
