<ebay-menu text="eBay Menu">
    <ebay-menu-item><ebay-icon name="confirmation" type="inline" style="margin-right: 8px"></ebay-icon>Item 1</ebay-menu-item>
    <ebay-menu-item><ebay-icon name="attention" type="inline" style="margin-right: 8px"></ebay-icon>Item 2</ebay-menu-item>
    <ebay-menu-item><ebay-icon name="information" type="inline" style="margin-right: 8px"></ebay-icon>Item 3</ebay-menu-item>
</ebay-menu>
