import { symbol } from "./symbol";

import type { Input as IconInput } from "../../component-browser"
export type Input = Omit<IconInput, `_${string}`>;
<ebay-icon ...input _name="checkbox-unchecked-18" _size="18" _type="icon" _themes=symbol/>
