{
    "retainLines": true,
    "presets": [
        "@babel/preset-typescript",
        "@babel/react",
        [
            "@babel/preset-env",
            {
                "loose": true
            }
        ]
    ]
}
