/*
A couple of modules need to have a fixed with otherwise they will not work well
*/
.docs-story div[scale="1"],
#storybook-root {
    width: 100%;
}

.icon-examples {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

.icon-examples > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    justify-content: center;
    border: 1px solid black;
    padding: 5px;
}

.icon-examples > div > span.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 64px;
    margin: 15px 0;
}
.icon-examples > div > span.text {
    color: var(--color-yellow-6);
    text-align: center;
}

.icon-examples > div > span.text:before {
    content: "<";
    color: var(--color-blue-5);
}

.icon-examples > div > span.text:after {
    content: "/>";
    color: var(--color-blue-5);
}

@media (min-width: 601px) {
    .icon-examples {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 901px) {
    .icon-examples {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
