class {}

<ebay-3d-viewer
    assetId='HvTpDZ6C3'
    on-action((a) => console.log(a.action))
    defaultDistance=5.5
    maxDistance=5.5
    minDistance=4.0
    fov=45
    minPolarAngle=0.3
    maxPolarAngle=1.3
    dampingFactor=0.12
    allowViewBottom=false
    autoRotate=false
    mouseMoveFollow=false
    animatedPlacement=false
/>
