<ebay-section-notice ...input>
    <@title>
        <div>Notice title</div>
    </@title>
    <@educationIcon><ebay-the-ebay-vault-24-fit-icon a11y-text="ebay vault"/></@educationIcon>
    <p>
        The eBay vault will store items for you.
    </p>
    <p>
        <a href="#">Try it</a>
    </p>
</ebay-section-notice>
