<ebay-section-notice ...input a11y-text="ebay vault">
    <@education-icon>
        <ebay-the-ebay-vault-24-icon />
    </@education-icon>
    <@title>
        <div>Notice title</div>
    </@title>
    <p>
        The eBay vault will store items for you.
    </p>
    <p>
        <a href="#">Try it</a>
    </p>
</ebay-section-notice>
