import TheVaultIcon from '<ebay-the-ebay-vault-24-fit-icon>'
<ebay-section-notice ...input educationIcon=TheVaultIcon a11y-text="ebay vault">
    <@title>
        <div>Notice title</div>
    </@title>
    <p>
        The eBay vault will store items for you.
    </p>
    <p>
        <a href="#">Try it</a>
    </p>
</ebay-section-notice>
