<span style="display: inline-block; max-width: 200px;">
    <ebay-listbox name="name">
        <ebay-listbox-option value="1" label="Option 1"/>
        <ebay-listbox-option value="2" label="Option 2"/>
        <ebay-listbox-option value="3" label="Option 3"/>
    </ebay-listbox>
</span>
