$ var items = ["Q1", "Q2", "Q3", "Q4"];
class {
    declare state: {
        selected: number;
    };

    onCreate() {
        this.state = {
            selected: 0,
        };
    }
    selectItem({ index }: { index: number }) {
        this.state.selected = index;
    }
}

<ebay-segmented-buttons on-change("selectItem")>
    <for|item, index| of=items>
        <@button selected=index === state.selected>
            ${item}
        </@button>
    </for>
</ebay-segmented-buttons>
