import { processHtmlAttributes } from "../../common/html-attributes"

$ const { renderBody, max, clippedText, value, ...htmlAttributes } = input;

<span ...processHtmlAttributes(htmlAttributes)>
    <if(renderBody)>
        <${renderBody}/>
    </if>
    <else>
        ${state.count}/${max}
        <if(clippedText)>
            <span class="clipped">
                ${clippedText}
            </span>
        </if>
    </else>
</span>
