html {
    font-size: 16px;
}

body {
    font-family: 'Market Sans', Arial;
    margin: 15px;
}

h1 {
    padding: 10px 0;
}

h2 {
    margin: 5px 0;
}

header > a {
    line-height: 24px;
    padding-right: 20px;

    span {
        display: inline-block;
        white-space: nowrap;
    }

    &, &:visited {
        color: @ds6-color-p002-blue;
    }
}

.example {
    margin: 0 0 30px 0;
    padding: 15px;
    border: 1px solid @ds6-color-g204-gray;
    background: @ds6-color-g202-gray;
}

.example-code {
    background: @ds6-color-g201-gray;
    display: inline-block;
    margin: 1em 0;
    max-width: calc(100% ~"-" 2em);
    padding: 0 1em;
    overflow: scroll;
}
