<ebay-menu type="checkbox">
    <ebay-menu-item value="item 1" checked>item 1</ebay-menu-item>
    <ebay-menu-item value="item 2">item 2</ebay-menu-item>
    <ebay-menu-item value="item 3" checked>item 3</ebay-menu-item>
</ebay-menu>
