<ebay-success-message title="Your first order has been placed!" icon-a11y-text="Success">
    <ebay-success-message-content>
        You'll get a confirmation email soon. The rest of your items are now ready to checkout.
    </ebay-success-message-content>
    <a href="http://www.ebay.com" class="success-message__fake-button">Continue to Order 2</a>
</ebay-success-message>
