<ebay-notice
    type="page"
    status="celebration"
    a11y-heading-text="celebration">
    <ebay-notice-title>Congrats</ebay-notice-title>
    <ebay-notice-content>
        <p>You can check <a href="#">your listing</a> or <a href="#">sell another item</a></p>
    </ebay-notice-content>
</ebay-notice>
