<ebay-combobox name="example2text" value="Basic Offer" autocomplete="list" expanded>
    <ebay-combobox-option text="August Campaign"/>
    <ebay-combobox-option text="4th of July Sale (paused)"/>
    <ebay-combobox-option text="Basic Offer"/>
    <ebay-combobox-option text="Basic Offer 1"/>
    <ebay-combobox-option text="Basic Offer 3"/>
</ebay-combobox>
