<span
    w-bind
    w-onclick="handleClick"
    class=data.classes
    style=data.style>
    <input
        class="checkbox__control"
        type="checkbox"
        disabled=data.disabled
        ${data.htmlAttributes} />
    <span class="checkbox__icon" hidden>
        <ebay-icon type="inline" name="checkbox-unchecked" class="checkbox__unchecked" focusable="false"/>
        <ebay-icon type="inline" name="checkbox-checked" class="checkbox__checked" focusable="false"/>
    </span>
</span>
