<span w-bind class="pill__container">
    <ebay-button
        w-body
        priority=data.pillPriority
        htmlAttributes
        disabled=data.disabled
        style=data.style
        href=data.href
        class="btn--pill">
    </ebay-button>
</span>
