.video-player {
    position: relative;
}
.video-player__overlay {
    position: absolute;
    left: 0;
    display: flex;
    right: 0;
    top: 0;
    bottom: 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    cursor: pointer;
    text-align: center;
}

.video-player__overlay-text,
.video-player__overlay .icon {
    margin: 20px 20px 0;
}

.video-player__overlay--hidden {
    display: none;
}
