class {}
<ebay-phone-input
    key="phone-input"
    onExpand("emit", "expand")
    onCollapse("emit", "collapse")
    onBlur("emit", "blur")
    onFocus("emit", "focus")
    onKeydown("emit", "keydown")
    onKeypress("emit", "keypress")
    onKeyup("emit", "keyup")
    onChange("emit", "change")
    ...input
/>
