<ebay-section-notice status="information" a11y-text="Information">
    <p>
        <strong>Error:</strong> Please take another look at the following:
    </p>
    <p>
        <a href="#">Card number</a>,
        <a href="#">Expiration date</a>
    </p>
    <@footer>
        <ebay-button href="www.ebay.com" priority="secondary" transparent>
            Button
        </ebay-button>
    </@footer>
</ebay-section-notice>
