<div>
    <ebay-eek top="B" bottom="G" rating="D"/>
    <ebay-eek top="A" bottom="G" rating="A+++"/>
    <ebay-eek top="A++" bottom="B" rating="A++"/>
    <ebay-eek top="A+" bottom="B" rating="A++"/>
</div>
