<h2>icon placeholder injected here</h2>
<svg hidden>
    <include("./svg/arrow-left.marko") if(data.icons.indexOf('arrow-left') !== -1)/>
    <include("./svg/arrow-right.marko") if(data.icons.indexOf('arrow-right') !== -1)/>
    <include("./svg/arrow-move.marko") if(data.icons.indexOf('arrow-move') !== -1)/>
</svg>
