<ebay-combobox name="example1text" autocomplete="list">
    <@option text="All" sticky/>
    <@option text="August Campaign"/>
    <@option text="4th of July Sale (paused)"/>
    <@option text="Basic Offer"/>
    <@option text="Basic Offer 1"/>
    <@option text="Basic Offer 3"/>
</ebay-combobox>
