<lasso-page name="integration" package-path="./browser.json" flags=["skin-ds6"]/>
<html>
    <head>
        <lasso-head/>
    </head>
    <body>
        #INJECT#
        <lasso-body/>
    </body>
</html>
