<lasso-page name="integration" package-path="./base.json" flags=["skin-ds6"]/>
<html>
    <head>
        <lasso-head/>
    </head>
    <body>
        #INJECT#
        <lasso-body/>
        <init-widgets/>
    </body>
</html>
