<ebay-menu grow-reverse label="eBay Menu" style="margin-left:200px">
    <ebay-menu-item>item 1 that has very long text</ebay-menu-item>
    <ebay-menu-item>item 2</ebay-menu-item>
    <ebay-menu-item>item 3</ebay-menu-item>
</ebay-menu>
