<ebay-filter-menu-button text="Filter Menu Footer" type="radio" footer-text="Apply" variant="form" form-name="filter-menu-button-form" form-action="http://www.ebay.com/">
    <ebay-filter-menu-button-item value="item 1">item 1</ebay-filter-menu-button-item>
    <ebay-filter-menu-button-item value="item 2">item 2</ebay-filter-menu-button-item>
    <ebay-filter-menu-button-item value="item 3">item 3</ebay-filter-menu-button-item>
</ebay-filter-menu-button>
