<span class=data.class w-bind>
    <select
        disabled=data.disabled
        w-onchange="optionChanged"
        ${data.htmlAttributes}>
        <option
            for(option in data.options)
            value=option.value
            selected=option.selected
            class=option.class
            ${option.htmlAttributes}>
            ${option.label}
        </option>
    </select>
</span>
