class {}
<ebay-breadcrumbs a11yHeadingText="Page navigation" on-select('emit', 'select')>
    <@item>eBay</@item>
    <@item>Cell Phones, Smart Watches & Accessories</@item>
    <@item>Smart Watch Accessories</@item>
    <@item>Smart Watch Bands</@item>
</ebay-breadcrumbs>
