<ebay-breadcrumbs a11y-heading-text="Page navigation">
    <@item href="http://www.ebay.com/" navsrc="{}" _sp="p2345.m909.l34">eBay</@item>
    <@item href="https://www.ebay.com/rpp/cell-phone-pda" navsrc="{}" _sp="p2345.m909.l34">Cell Phones, Smart Watches & Accessories</@item>
    <@item href="https://www.ebay.com/b/Smart-Watch-Accessories/182064/bn_16565905" navsrc="{}" _sp="p2345.m909.l34">Smart Watch Accessories</@item>
    <@item>Smart Watch Bands</@item>
</ebay-breadcrumbs>
