<ebay-breadcrumbs a11yHeadingText="Page navigation">
    <@item href="http://www.ebay.com/">eBay</@item>
    <@item href="https://www.ebay.com/rpp/cell-phone-pda">Cell Phones, Smart Watches & Accessories</@item>
    <@item href="https://www.ebay.com/b/Smart-Watch-Accessories/182064/bn_16565905">Smart Watch Accessories</@item>
    <@item>Smart Watch Bands</@item>
</ebay-breadcrumbs>
