<ebay-combobox name="example2text" autocomplete="list">
    <@option text="August Campaign"/>
    <@option text="4th of July Sale (paused)"/>
    <@option text="Basic Offer 22 - the long option 001"/>
</ebay-combobox>
