import processHtmlAttributes from "../../common/html-attributes"

static {
    var ignoredAttributes = ["class", "style", "disabled"];
}

<span class=["switch", input.class] style=input.style>
    <input
        ...processHtmlAttributes(input, ignoredAttributes)
        onChange("handleChange")
        type="checkbox"
        role="switch"
        class="switch__control"
        disabled=input.disabled/>
    <span class="switch__button"/>
</span>
