<span w-bind class=data.classes style=data.style w-onclick="handleClick">
    <input type="checkbox" role="switch" class="switch__control" disabled=data.disabled ${data.htmlAttributes}/>
    <span class="switch__button"/>
</span>
