<script marko-init>
    var processHtmlAttributes = require("../../common/html-attributes");
    var ignoredAttributes = ["class", "style", "disabled"];
</script>

<span
    w-bind
    class=["switch", data.class]
    style=data.style>
    <input
        w-onchange="handleChange"
        type="checkbox"
        role="switch"
        class="switch__control"
        disabled=data.disabled
        ${processHtmlAttributes(data, ignoredAttributes)}/>
    <span class="switch__button"/>
</span>
