<ebay-filter-menu
    footer-text="Apply"
    variant="form"
    form-name="filter-menu-form"
    form-action="http://www.ebay.com/">
    <@item value="item 1">item 1</@item>
    <@item value="item 2">item 2</@item>
    <@item value="item 3">item 3</@item>
</ebay-filter-menu>
