import { symbol } from "./symbol.js";
import type { Input as IconInput } from "../../component"
export type Input = Omit<IconInput, `_${string}`>;
<ebay-icon ...input _name="star-rating-small-2-5" _type="star-rating" _themes=symbol/>
