<ebay-tooltip type="infotip" a11y-close-text="Dismiss infotip" aria-label="Important information">
    <ebay-tooltip-heading>Important</ebay-tooltip-heading>
    <ebay-tooltip-content><p>This is some important info</p></ebay-tooltip-content>
</ebay-tooltip>
