<ebay-menu
    ...input
    on-keydown('emit', 'keydown')
    on-change('emit', 'change')
    on-select('emit', 'select')
>
    <@item badgeNumber=1>item 1 that has very long text</@item>
    <@item badgeNumber=99>item 2</@item>
    <@item badgeNumber=10>item 3</@item>
</ebay-menu>
