<ebay-menu>
    <@item>
        <ebay-confirmation-16-icon style="margin-right: 8px;"/>Item 1
    </@item>
    <@item>
        <ebay-attention-16-icon style="margin-right: 8px;"/>Item 2
    </@item>
    <@item>
        <ebay-information-16-icon style="margin-right: 8px;"/>Item 3
    </@item>
</ebay-menu>
