<ebay-menu-button text="eBay Menu" type="checkbox">
    <@item value="item 1" checked>item 1</@item>
    <@item value="item 2">item 2</@item>
    <@item value="item 3" checked>item 3</@item>
</ebay-menu-button>
