<ebay-menu-button text="eBay Menu" type="checkbox">
    <ebay-menu-button-item checked>item 1</ebay-menu-button-item>
    <ebay-menu-button-item>item 2</ebay-menu-button-item>
    <ebay-menu-button-item checked>item 3</ebay-menu-button-item>
</ebay-menu-button>
