<ebay-menu-button borderless text="eBay Menu">
    <ebay-menu-button-item>item 1</ebay-menu-button-item>
    <ebay-menu-button-item>item 2</ebay-menu-button-item>
    <ebay-menu-button-item>item 3</ebay-menu-button-item>
</ebay-menu-button>
