<nav if(data.items) aria-labelledby="breadcrumb-heading" class=data.classes role="navigation" ${data.htmlAttributes} w-bind w-onclick="handleClick">
    <${data.headingLevel} id="breadcrumb-heading" class="clipped">${data.headingText}</${data.headingLevel}>
    <ul>
        <li for(item in data.items)>
            <${item.tag} href=item.href aria-current=item.ariaCurrent role=item.role ${item.htmlAttributes} w-body=item.renderBody/>
        </li>
    </ul>
</nav>
