<ebay-menu type="fake" text="eBay Menu">
    <ebay-menu-item href="#" current>item 1</ebay-menu-item>
    <ebay-menu-item type="button">item 2</ebay-menu-item>
    <ebay-menu-item href="#">item 3</ebay-menu-item>
</ebay-menu>
