<ebay-menu text="eBay Menu">
    <ebay-menu-label>
        <span class="flag" style="background-position: 0 -25px">
            This is the label you first see
        </span>
    </ebay-menu-label>
    <ebay-menu-item>item 1 that has very long text</ebay-menu-item>
    <ebay-menu-item>item 2</ebay-menu-item>
    <ebay-menu-item>item 3</ebay-menu-item>
</ebay-menu>
