<ebay-combobox readonly name="example2text" value="Choose one">
    <@option text="August Campaign"/>
    <@option text="4th of July Sale (paused)"/>
    <@option text="Basic Offer"/>
    <@option text="Basic Offer 1"/>
    <@option text="Basic Offer 3"/>
</ebay-combobox>
