<ebay-progress-bar-expressive>
    <@message text="Display for 2 seconds" duration=2000/>
    <@message text="Display for 3 seconds" duration=3000/>
    <@message text="Display for 4 seconds" duration=4000/>
</ebay-progress-bar-expressive>
