<ebay-progress-bar-expressive a11yText="Cargando...">
    <@message text="Espera..."/>
    <@message text="Estamos procesando tu pedido" duration=2000/>
    <@message text="Sólo un momento más"/>
</ebay-progress-bar-expressive>
