<ebay-progress-bar-expressive size="medium">
    <@message text="Hang tight"/>
    <@message text="We're processing your order"/>
    <@message text="Just a moment longer"/>
</ebay-progress-bar-expressive>
